$w: 1140px;
$c: #000;
$bg: #af3035;
$inputH: 40px;
$font-base: 14px;
$f: 'Open Sans';
$icons: 'icons';

//parts
@import 'parts/00_mixins';
@import 'parts/01_reset';
@import 'parts/02_classes';
@import 'parts/03_ui_kit';
@import 'parts/04_apps';
@import 'parts/05_header';
@import 'parts/06_footer';
//@import 'parts/woo';

//templates
@import 'templates/00_front_page';
