//MAIN
.container {
  margin: 0 auto;
  width: $w;
  max-width: 94%;
  position: relative;
}

.content {
  ul {
    margin: 0 0 20px 15px;
    li {
      padding: 5px 0 5px 15px;
      position: relative;
      &:before {
        content: "";
        background: $bg;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        top: rem(15);
        left: 0;
      }
    }
  }
  a {
    color: $bg;
  }
}

//Flex
.flex {
  @include flexbox;
  @include justify-content(space-between);
}

.flex_start {
  @include flexbox;
  @include justify-content(flex-start);
}

.flex_end {
  @include flexbox;
  @include justify-content(flex-end);
}

.flex_around {
  @include flexbox;
  @include justify-content(space-around);
}

.alc {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}

.al_start {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-start);
}

.al_end {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-end);
}

.flex_center {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

//CONTACT FORM
div.wpcf7 {
  .wpcf7-form-control-wrap {
    display: block !important;
    margin-bottom: 20px;
    clear: both;
  }

  .wpcf7-not-valid-tip {
    background: #fff;
    border: 1px solid #FF0000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    font-family: $f;
    height: $inputH;
    line-height: $inputH;
    padding: 0 10px;
    text-align: left;
  }

  .wpcf7-response-output {
    width: 100%;
    background: #fff;
    margin: 10px 0 0 0;
    font-family: $f;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 20px;
    text-align: center;
  }

  .ajax-loader {
    height: 0;
    width: 0;

    &.is-active {
      background: url('../img/spinner.gif');
      width: 30px;
      height: 30px;
      display: block;
      margin: 0 auto;
      background-size: cover;
    }
  }
}

//SELECT
.selbel_w {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  font-family: $f;
  height: $inputH;
  select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    + span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      color: #555;
      padding: 0 10px;
      border-radius: 5px;
      border: 1px solid #eee;
      line-height: $inputH;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        position: absolute;
        right: 13px;
        top: 16px;
      }
      &.err {
        border-color: #ef4036
      }
    }
    option {
      padding: 5px
    }
  }
}

//Main Menu
#mainMenu {
  @include rwd-min(1025) {
    > ul {
      font-size: 0;

      > li {
        display: inline-block;
        vertical-align: top;
        position: relative;

        > a {
          font-size: 14px;
          display: block;
        }

        &:hover > a, &.current-menu-item > a {
          text-decoration: none;
        }

        &:hover > ul {
          margin-top: 0;
          opacity: 1;
          visibility: visible;
        }

        ul {
          margin-top: 20px;
          opacity: 0;
          visibility: hidden;
          width: 270px;
          position: absolute;
          left: 0;
          top: 100%;
          background: rgba(239, 239, 239, 0.8);
          font-size: 14px;
          @include transition();

          li {
            position: relative;

            a {
              display: block;
              padding: 7px 18px;
              color: $bg;
              font-size: rem(13);
              text-decoration: none;
            }

            &:hover, &.current-menu-item {
              > a {
                color: #fff;
                background: $bg;
              }
            }

            &:hover ul {
              visibility: visible;
              opacity: 1;
              margin-top: 0;
            }

            ul {
              left: 270px;
              top: 0;
            }
          }
        }
      }
    }
  }
  //mobile
  @include rwd-max(1024) {
    position: absolute;
    top: 50px;
    width: 100%;
    @include transform(translateX(100%));
    @include transition();
    background: rgba(26, 26, 26, 0.95);
    right: 0;
    bottom: 0;
    overflow: auto;
    &.open {
      @include transform(translateX(0));
    }
    ul {
      li {
        display: inline-block;
        width: 100%;
        padding: 0;

        a {
          margin: 0;
          color: #fff;
          font-size: 18px;
          padding: 15px 3%;
          border-bottom: 1px solid #000;
          position: relative;
          display: block;
          text-decoration: none;

          &:after {
            display: none;
          }
        }

        &:hover > a {
          background: none;
          color: #fff;
        }

        &.current-menu-item > a {
          background: $bg;
          color: #fff;
        }

        &.menu-item-has-children > a {
          &:after {
            display: none;
          }
        }

        span {
          width: 60px;
          background: $bg;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          cursor: pointer;

          &:before {
            content: "";
            @include center();
            background: #fff;
            width: 18px;
            height: 2px;
            @include transition();
          }

          &:after {
            content: "";
            @include center();
            background: #fff;
            width: 2px;
            height: 18px;
            @include transition();
          }

          &.active {
            &:after {
              opacity: 0;
            }
          }
        }

        ul {
          margin-top: 0;
          opacity: 1;
          visibility: visible;
          width: 100%;
          position: static;
          background: none;
          display: none;
          @include transition(none);

          li {
            display: inline-block;
            float: none;
            width: 100%;
            padding-bottom: 0;

            a {
              margin: 0;
              color: #fff;
              font-size: 18px;
              padding: 10px 6%;
              border-bottom: 1px solid #000;
              position: relative;
              text-decoration: none;
            }

            span {
              background: none;
            }

            &:hover a {
              background: none;
              color: #fff;
            }

            &.current-menu-item a {
              background: $bg;
              color: #fff;
            }

            ul {
              li {
                a {
                  font-size: 16px;
                  font-style: italic;
                }
              }
            }
          }
        }
      }
    }
  }
}

//Mobile menu
.mobile_header {
  background: #222;
  height: 50px;
  padding: 10px;
  @include rwd-min(1025) {
    display: none;
  }
  .logo {
    display: inline-block;
    max-width: 120px;
  }
}

#navToggle {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 10px auto;
  @include transform(0deg);
  @include transition(.5s ease-in-out);
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: $bg;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(.25s ease-in-out);

    &:nth-child(1) {
      top: 0;
      @include transform-origin(left center);
    }

    &:nth-child(2) {
      top: 18px;
      @include transform-origin(left center);
    }

    &:nth-child(3) {
      top: 36px;
      @include transform-origin(left center);
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: -3px;
        left: 8px;
        @include transform(rotate(45deg));
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        @include transform(rotate(-45deg));
        top: 39px;
        left: 8px;
      }
    }
  }
}

//All
.cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.tac {
  text-align: center;
}

.last_no_spacing > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

