@include headings() {
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 1.2;
}

h1 {

}

h2 {

}

h3 {

}

header {
  position: relative;
  z-index: 100;
  @include rwd-max(1024) {
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

footer {

}