@include headings() {
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 1.2;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {
  padding-bottom: 20px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  @include transition();
  &:hover {
    opacity: .7;
    text-decoration: underline;
  }
}

header {
  position: relative;
  z-index: 100;
}

footer {

}