//Responsive Web Design
@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .alignleft, .aligncenter, .alignright {
    float: none;
    margin: 0 auto 20px;
  }

  .alignnone {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
